#buttons {
  display: grid;
  border: 2px solid black;
  background-color: bisque;
  border-radius: 2px;
  grid-template-rows: 60px 65px 65px 65px 65px 65px 65px;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 10px;
  margin-left: 490px;
  margin-top: 50px;
  margin-right: 500px;
}
.align {
  padding: 2px;
  margin: 5px;
}
#text {
  grid-column: 1 / span 4;
}
#text1 {
  height: 40px;
  width: 100%;
  background-color: lightgreen;
  border: 3px solid black;
  font-size: 25px;
}

#equals {
  grid-column: 2 / span 3;
}
.but {
  margin-right: 50px;
  height: 40px;
  width: 100%;
  border-radius: 10px;
}

#AC {
  background-color: rgb(220, 55, 55);
}

#btnEqualTo {
  background-color: rgb(236, 141, 24);
}
#btnPoint {
  font-size: 30px;
}

#btnAdd,
#btnMul,
#btnSub,
#btnDiv,
#btnMod {
  background-color: lightblue;
}

#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9,
#btn0,
#btn00,
#btnPoint {
  background-color: rgb(212, 179, 184);
}

#de1,
#btnOB,
#btnCB {
  background-color: burlywood;
}

#del {
  background-color: darkkhaki;
}
